<div class="toolbar">
  <div class="toolbar-button-container">
    <button mat-flat-button color="primary" [routerLink]="this.urlEdit + 'new'">
      <span>Incluir</span>
    </button>
  </div>
</div>

<div class="table-container">
  <ng-container *ngIf="pessoas.length > 0">
    <table mat-table [dataSource]="pessoas">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
          <span>ID</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <span>{{ element.id }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>
          <span>Nome</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <span>{{ element.nome }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>
          <span>CPF</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <span>{{ element.cpf | cpfMask }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
          <span>E-mail</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <span>{{ element.email || "-" }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <span>Ações</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="row-button-container">
            <button mat-stroked-button [routerLink]="this.urlEdit + element.id">
              <span>Editar</span>
            </button>
            <button
              mat-flat-button
              color="warn"
              (click)="this.delete(element.id)"
            >
              <span>Excluir</span>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
    </table>
  </ng-container>
</div>
